* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #dafaff;
    font-family: figtree;
    color: white;
    height: 100%;
}

body {
    width: 100vw;
}

.min-h-screen {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.flex-grow {
    flex: 1;
}

.navbar {
    background-color: #0d2a4a;
    position: fixed;
    top: 0;
    width: 100vw;
    padding: 20px;
    text-align: right;
}

.navbar_items a {
    width: fit-content;
    text-decoration: none;
}

.word {
    padding-left: 5vw;
}

.word:hover {
    background-color: #6f8085;
}

#fields {
    display: none;
}