
.navbar {
    background-color: #2d3b45;
    color: white;
    padding: 15px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.wrinkle-ranch{
    border-radius: 50%; 
    width: 100px; 
    height: 100px; 
    float: left;
    margin-right: 10px;
}
.ranch-container{
    top: 20px;
    left: 20px;
}
.navbar_items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

nav ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-right: 30px;
    position: relative;
}

#logout {
    text-decoration: none;
    color: #ff0404;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

#logout a:hover {
    color: #a11a1a; 
}

nav ul li a {
    color: white;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.3s ease, transform 0.3s ease;
}

nav ul li a:hover {
    color: #4db8ff;
    transform: scale(1.1);
}

nav ul li:last-child {
    margin-right: 0;
}



form {
    margin: 0;
    padding: 0;
}

@media (max-width: 768px) {
    .navbar_items {
        flex-direction: column;
        align-items: flex-start;
        padding: 15px;
    }

    nav ul {
        flex-direction: column;
        margin-top: 10px;
    }

    nav ul li {
        margin-bottom: 15px;
    }
}
