.navbar {
    background-color: #0f283a;
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* position: fixed; */
    z-index: 1000;
}

.logo-container {
    flex-shrink: 0;
    margin-right: 20px;
}

.logo-container img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    vertical-align: middle;
}

.navbar_items {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.3s ease, transform 0.3s ease;
}

nav ul li a:hover {
    color: #4db8ff;
    transform: scale(1.1);
}

#logout {
    margin-left: auto;
    margin-right: 20px;
    display: flex;
    align-items: center; 
    justify-content: center;
}

#logout form {
    display: inline;
}

#logout a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    padding: 5px 15px;
    background-color: #4db8ff;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#logout a:hover {
    background-color: #ff4040;
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul li {
        margin-bottom: 10px;
    }

    .logo-container {
        margin-bottom: 10px;
    }
}
